@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
:root {
    --primary-dark: #0e3f63;
    --primary-light: #6b9aac;
    --clr-sale: #a0c4d2;
}


/* Box sizing rules */

*,
*::before,
*::after {
    box-sizing: border-box;
}


/* Remove default padding */

ul[class],
ol[class] {
    padding: 0;
}


/* Remove default margin */

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
}


/* Set core body defaults */

body {
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
    background-color: #faf9f6;
}


/* Remove list styles on ul, ol elements with a class attribute */

ul[class],
ol[class] {
    list-style: none;
}


/* A elements that don't have a class get default styles */

a:not([class]) {
    text-decoration-skip-ink: auto;
}


/* Make images easier to work with */

img {
    max-width: 100%;
    display: block;
}


/* Natural flow and rhythm in articles by default */

article>*+* {
    margin-top: 1em;
}


/* Inherit fonts for inputs and buttons */

input,
button,
textarea,
select {
    font: inherit;
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}


/* Remove all animations and transitions for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}


/* ------------------------------------------------------------------- */

body {
    display: flex;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    height: 100vh;
    width: 100vw;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100vw;
    position: relative;
}

.container {
    padding-inline: 3rem;
    width: 100%;
    max-width: 78rem;
    margin: 0 auto;
}

.content {
    flex: 1;
    overflow: auto;
    padding-top: 3rem;
}

.btn {
    border: transparent;
    color: black;
    background-color: transparent;
    padding: 0.5rem 1rem;
    border-radius: 100vh;
}


/* NAVBAR */

.navbar {
    background-color: rgba(255, 255, 255, 0.938);
    border-bottom: 1px solid black;
    position: relative;
}

.navbar a {
    text-decoration: none;
}

.navbar-btn {
    color: white;
    background-color: Black;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-block: 1.5rem;
}

.navbar__links {
    display: flex;
    gap: 1rem;
    transform: translateY(1px);
}

.navbar__links .nav-link {
    text-decoration: none;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    font-size: 0.9rem;
}

.navbar__actions {
    display: flex;
    gap: 1rem;
    align-items: center;
}

.navbar__actions .cart-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    border-radius: 100vh;
    background-color: black;
    cursor: pointer;
}

.navbar__actions .fa-cart-shopping {
    font-size: 1rem;
    color: white;
}

.navbar__logo {
    position: absolute;
    right: 50%;
    transform: translateX(50%)
}

.navbar__logo img {
    height: 100px;
}


/* Admin */

ul.admin-list {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.admin-list> :nth-child(odd) {
    background-color: white;
}

.admin-list> :nth-child(even) {
    background-color: #dbe5e9;
}

.admin-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2rem;
    border-bottom: 1px solid black;
    padding-bottom: 1rem;
}

.admin-container h4 {
    flex: 0.33;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}

.admin-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.admin-list-container li {
    list-style: none;
    padding-left: 1rem;
    flex: 0.33;
    display: flex;
    justify-content: center;
}

.admin-list-container .admin-btn {
    flex: 0.33;
    display: flex;
    justify-content: center;
    padding-left: 1rem;
}


/* SHOP */

.shop-list a {
    text-decoration: none;
}

.product-card__content-wrapper {
    padding-block: 1.5rem;
}

.product-card__content-wrapper h2 {
    text-align: center;
    font-weight: 600;
    color: var(--primary-dark);
    text-transform: uppercase;
    font-size: 0.86em;
    letter-spacing: 0.1em;
}

.product-card__price-wrapper {
    display: flex;
    justify-content: center;
    font-weight: bold;
    font-size: 0.9em;
    text-transform: uppercase;
    gap: 1em;
    color: var(--primary-light);
}

.product-card__price-wrapper .sale {
    color: var(--clr-sale);
    text-decoration: line-through;
}

.shop-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}


/* LOGIN */

.login-input {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-color: #dfdfdf;
    background-color: white;
    width: 20rem;
    margin-bottom: 1.8rem;
    font-size: 1.3rem;
}

.login-input:focus {
    outline: none;
}

.signin {
    width: 20rem;
    margin: auto;
    margin-bottom: 5rem;
}

.signin h1 {
    margin-bottom: 2rem;
    text-align: center;
    color: #9b9b9b;
}

.signin p {
    margin-bottom: 2rem;
}

.div-btn {
    text-align: center;
}

.login-btn {
    background-color: #000;
    color: white;
    border-radius: 1.5rem;
    border: 0px;
    padding: .3em 1em;
    font-size: 1.5rem;
    cursor: pointer;
}

.login-btn:hover {}

.signin a:visited {
    color: blue;
}


/* UserProfileView */

:root {
    --speed: 500ms;
}

.sent {
    color: #339900;
}

.pending {
    color: #ffcc00;
}

.canceled {
    color: #cc3300;
}

.userprofile-dropdown {
    background-color: #e6e6e69a;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: hidden;
    box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.24) inset;
}

.userprofile-card {
    display: flex;
    flex-direction: column;
    color: black;
    border: #333;
    background-color: #faf9f6;
    border-radius: 15px;
    box-shadow: 0 5px 5px 0 #a1a1a1;
    height: 95%;
}

.userprofile-info-header {
    display: flex;
    background-color: #ffffff9c;
    height: 20vh;
    border-radius: 15px 15px 0 0;
    border-bottom: solid 1px #3333338a;
    align-items: center;
}

.userprofile-info {
    width: 50%;
    flex: 1;
    text-align: center;
}

.userprofile-info .name {
    color: var(--primary-dark);
    text-transform: uppercase;
    font-size: 2rem;
}

.userprofile-info .email {
    color: var(--primary-dark);
}

.userprofile-header-buttons {
    margin: 3rem;
    align-items: center;
    font-size: 25px;
}

.userprofile-chevron {
    background-color: transparent;
    border-radius: 50px;
    border: none;
    margin-left: 99%;
    transition: background 500ms;
}

.userprofile-chevron:hover {
    background-color: #cecece;
}

.userprofile-orderlist {
    width: 100%;
}

.userprofile-header {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px #3333338a;
}

.userprofile-column {
    width: auto;
    padding: 0.5rem;
    font-weight: 500;
}

.userprofile-order {
    display: flex;
    justify-content: center;
    width: 100%;
    border-bottom: solid 1px #3333338a;
    background-color: #ffffff9c;
    font-size: small;
    flex-direction: column;
}

.userprofile-order-status {
    display: flex;
    width: 6rem;
    gap: 7px;
}

.userprofile-status-text {
    position: absolute;
}

.fa-square {
    padding-left: 5rem;
}

.order-status-wrapper {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    background-color: #ffffff9c;
    padding: 1rem;
    font-size: small;
}

.userprofile-dropdown-item {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 1rem;
}

.order-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.order-list__img {
    width: 50px;
}

.order-list__name {
    flex: 1;
}

.order-list__price {
    display: flex;
    gap: 0.5rem
}

.order-total-price {
    display: flex;
    justify-content: flex-end;
    margin-top: 1rem;
    font-weight: 500;
}


/* PRODUCT DETAILS */

.product-details {
    display: flex;
    align-items: flex-start;
    gap: 3rem;
    margin-block: 5rem;
}

.product-details .product-image {
    flex: 0.6;
}

.product-details .info-wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    /* justify-content: space-around; */
}

.product-details .title {
    color: #0e3f63;
}

.product-details img {
    border-radius: .4rem;
}

.product-details .prices {
    display: flex;
    margin-top: 1rem;
    font-weight: 700;
}

.product-details .price.sale {
    font-size: x-large;
    margin-right: 1rem;
    text-decoration: line-through;
    color: #a0c4d2;
}

.product-details .price {
    font-size: x-large;
    color: #6b9aac;
}

.product-details .desc {
    margin-top: 2rem;
}

.product-details .btn {
    padding: 1rem;
    margin-top: 2rem;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    border: none;
    border-radius: .2rem;
    background-color: #6b9aac;
    color: white;
    cursor: pointer;
}

.product-details .stock {
    font-size: small;
    display: inline-flex;
    background-color: rgb(131, 191, 131);
    color: white;
    text-align: center;
    margin-top: 1rem;
    padding: .4rem;
    /* border-radius: .4rem; */
    text-transform: uppercase;
}


/* FOOTER */

footer {
    padding: 1.5rem;
    background-color: var(--primary-dark);
    text-align: center;
    color: white;
}


/* SHOPPING CART */

.overlay {
    background-color: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.cart {
    position: relative;
    z-index: 3;
}

.shopping-cart {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(-1rem, 3rem);
    width: 650px;
    border: 1px solid #d3d0d0;
    border-radius: 5px;
    box-shadow: 0 5px 5px 0 #a1a1a16c;
    margin-bottom: 2rem;
    background-color: white;
}

.shopping-cart .cart-top {
    padding: 1rem;
}

.shopping-cart .cart-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    border-top: 1px solid #a1a1a1;
}

.cart-item {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: .5rem;
}

.cart-item__img-wrapper img {
    width: 35px;
}

.cart-item__content-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.cart-item__content-wrapper a {
    flex: 1;
}

.cart-item h2 {
    color: rgb(14, 63, 99);
    font-family: Montserrat, sans-serif;
    font-size: 13.760000228881836px;
    font-weight: 600;
}

.cart-item__price-wrapper {
    color: #a0c4d2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

.cart-item__price {
    text-decoration: line-through;
}

.cart-item .sale {
    text-decoration: none;
}

.cart-controls {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
}

.cart-controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.cart-item-quantity {
    width: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(129, 129, 129);
}

.cart-delete {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cart-delete button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}


/* CHECKOUT */

.checkout a {
    text-decoration: none;
}

.checkout-controls {
    flex: 0.5;
    display: flex;
    flex-direction: row;
    gap: 0.2rem;
    justify-content: center;
}

.checkout-controls button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.checkout-item-quantity {
    width: 3rem;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid rgb(129, 129, 129);
}

.checkout-delete {
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.checkout-delete button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.checkout-item {
    display: flex;
    justify-content: flex-start;
    gap: 1.5rem;
    padding: .5rem;
}

.checkout-item__img-wrapper img {
    width: 100px;
}

.checkout-item__content-wrapper {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
}

.checkout-item__content-wrapper a {
    flex: 1;
}

.checkout-item h2 {
    color: rgb(14, 63, 99);
    font-family: Montserrat, sans-serif;
    font-size: 13.760000228881836px;
    font-weight: 600;
}

.checkout-item__price-wrapper {
    color: #a0c4d2;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: .5rem;
}

.checkout-item__price {
    text-decoration: line-through;
}

.checkout-item .sale {
    text-decoration: none;
}

.checkout-bottom {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--clr-sale);
    margin-top: 1rem;
    padding-top: 1rem;
}